:root {
    /* figma text color */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;


    /* fonts */
    --primary-font: 'roboto', sens-serif;
}

body {
    font-family: "Roboto", sans-serif;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    background-color: var(--color-white);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

/* reset end */
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;


    outline: 2px solid red;
    outline-offset: -2px;
}

/* base Styles */
.section {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    margin-right: 76px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    padding-bottom: 16px;
}

.logo-dark {
    color: var(--color-navy-blue);
}

.logo-light {
    color: var(--color-cloud);
}

/* Header Styles */

.header {}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {}

.logo {}

.logo-dark {}

.header-list {

    color: var(--color-navy-blue);
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-item {
    /*  */
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: block;
    padding: 24px 0px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-ocean)
}

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-cont {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    text-decoration: none;
    display: block;
    padding: 24px 0px;
}

.header-cont:hover,
.header-cont:focus {
    color: var(--color-ocean);
}

/* Hero Styles */
.hero {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-navy-blue);
}

.hero-title-container {
    padding-top: 180px;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
    width: 496px;
}


.hero-title {
    font-family: var(--primary-font);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}


/* BUTTON */
.hero-button-container {

    padding-bottom: 196px;
}

.hero-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--color-iris);
    color: var(--color-white);
    min-width: 169px;
    min-height: 56px;

    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-ocean);
}

.btn {}



/* FEATURE Styles */

.feature {}

.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);

}

.feature-list {
    display: flex;
    gap: 24px;

    padding-top: 112px;
    padding-bottom: 120px;
    padding-left: 0px;
    padding-right: 0px;

}

.feature-item {}

.feature-undertitle {
    font-family: var(--primary-font);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.feature-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    width: 264px;
}

.benefits {}

.section {}

.benefits-title {
    padding-bottom: 72px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-grey);
}

.benefits-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.team {
    background-color: var(--color-cloud);
}

.team-title {
    padding-top: 120px;
    padding-bottom: 72px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.team-item {
    width: calc(100% (24px * 3) / 4);
    background-color: var(--color-white);
}

.team-item-desc {
    padding: 32px 16px;
}

.team-undertitle {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.team-desc {
    font-family: 'Roboto';


    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.footer {
    text-decoration: none;
    background-color: var(--color-navy-blue);
}
.footer-container {
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px;
    
}

.footer-desc {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    width: 264px;
}

/* portfolio */
.filter-list {}

.filter-btn {
    font-family: "Roboto", sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}


.section {}

.preview-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.preview-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}